@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")

<div class="jumbotron text-center">
    <h1>Make a ToDo list and get your jobs crossed off</h1>
    <p class="lead text-center">Register or Log in <span class="bold">now</span></p>

</div>